* {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 80px;
}

.hero {
    padding: 120px 0;
    background: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}

.hero .container {
    transform: scaleX(-1);
}

.title {
    font-size: 40px;
}

.text-green {
    color: #c3e091;
}

.text-orange {
    color: #fbd380 !important
}

.startbtn {
    background-color: #fbd380;
    color: black;
    padding: 10px 40px !important;
    font-weight: bold !important;
    border-radius: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fs-26 {
    font-size: 26px;
}

.icon {
    width: 50px;
}

.fs-24 {
    font-size: 24px;
}

.text-muted {
    color: #69696f !important;
}

.publishers {
    background-color: #21272D;
}

.columns {
    padding-top: 400px;
    background-image: url("../img/columns.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}

.ovrelay {
    bottom: 0;
    left: 0;
}

.container.position-relative {
    z-index: 100;
}

.card-header {
    background-color: #2D353E;
    padding-top: 40px;
    padding-bottom: 40px;
}

.col-icon {
    height: 100px;
}

.company-logo {
    height: 100px;
}

.container {
    max-width: 1100px !important;
}

.bg-green {
    background-color: #c3e091;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.what-is-digital {
    background: url("../img/digital.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
}

.fs-45 {
    font-size: 45px;
}

.contact-section {
    background-color: #21272e;
}

.f-logo {
    width: 100px;
}

.footer-link:hover {
    color: #c3e091;
}

nav {
    transition: 0.6s;
}

nav.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: black !important;
    z-index: 10000;
}