*{
    font-family: 'Open Sans', sans-serif;
}

.logo{
    width: 80px;
}

.hero{
    padding: 120px 0;
    background: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}

.hero .container{
    transform: scaleX(-1);
}
.title{
    font-size: 40px;
}
.text-green{
    color: #c3e091;
}
.text-orange{
    color: #fbd380 !important
}
.startbtn{
    background-color: #fbd380;
    color: black;
    padding: 10px 40px !important;
    font-weight: bold !important;
    border-radius: 30px;
}